@charset "utf-8";
.ziliao_show{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	margin-top:10px;
	
	}
tr{
	font-size:24px;
	margin:auto;
	}
td{
	margin-right:10px;
	}
.text_indent_1{
	text-indent: 1em;
	margin-top:3px;
		}

.text_indent_2{
	text-indent:0.5em;
	}
.table1{
		float:left;
		}

#ziliao_show{
	margin-left: 20px;
	width:140px;
	}

#upload{
	font-size:24px;
	font-style:normal;
	position:absolute;
	left:300px;
	top:900px;
	
	}	
#video_show{
	position:absolute;
	left:350px;
	top:350px;
	}
#ziliao meun_show{
	margin-left:500px;
	}

#shipin_nuem{
	position: absolute;
	right: 149px;
	top: 353px;
	width: 166px;
	height: 294px;
	}
